# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Database
# instance/
# *.db
# *.sqlite3

# Logs
*.log
logs/

# Django
local_settings.py
db.sqlite3
media/
staticfiles/

# OS
.DS_Store
Thumbs.db
